/*

IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com

---------------------------------------------------------------------

This set of fonts are used in this project under the license: RC4QT

---------------------------------------------------------------------

*/

/*@font-face {*/
/*font-family: IRANSans;*/
/*font-style: normal;*/
/*font-weight: 900;*/
/*src: url('../fonts/eot/IRANSansWeb_Black.eot');*/
/*src: url('../fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  !* IE6-8 *!*/
/*url('../fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*url('../fonts/woff/IRANSansWeb_Black.woff') format('woff'),  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*url('../fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');*/
/*}*/
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

/*@font-face {*/
/*font-family: IRANSans;*/
/*font-style: normal;*/
/*font-weight: 500;*/
/*src: url('../fonts/eot/IRANSansWeb_Medium.eot');*/
/*src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  !* IE6-8 *!*/
/*url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');*/
/*}*/
/*@font-face {*/
/*font-family: IRANSans;*/
/*font-style: normal;*/
/*font-weight: 300;*/
/*src: url('../fonts/eot/IRANSansWeb_Light.eot');*/
/*src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  !* IE6-8 *!*/
/*url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');*/
/*}*/
/*@font-face {*/
/*font-family: IRANSans;*/
/*font-style: normal;*/
/*font-weight: 200;*/
/*src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');*/
/*src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  !* IE6-8 *!*/
/*url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  !* FF39+,Chrome36+, Opera24+*!*/
/*url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  !* FF3.6+, IE9, Chrome6+, Saf5.1+*!*/
/*url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');*/
/*}*/
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/eot/IRANSansWeb.eot');
    src: url('../../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../../fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../../fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }

    /*.ui.form {*/
        /*width: 50%;*/
        /*margin-right: auto;*/
        /*margin-left: auto;*/
    /*}*/
}

@media only screen and (max-width: 767px) {
    .mobile-hidden {
        display: none !important;
    }
}

#navbar {
    z-index: 99;

    padding-right: 5px;
    padding-left: 5px;

    width: 100vw !important;

    font-weight: bold !important;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

#navbar .item {
    z-index: 99;
    position: relative;
}

.reverse-navbar-color {
    background-color: #40444d !important;
}

/*.reverse-navbar-color * {*/
    /*color: #F0F0F0 !important;*/
/*}*/

.navbar-color {
    background: transparent !important;
}

.navbar-color * {
    color: #40444d !important;
}

.ai.background {
    background-image: url('/static/images/navbar-background.jpg') !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat;
}

.ai.button {
    background-color: #40444d !important;
    color: #ffffff;
    border-radius: 3px;
    z-index: 6;
}

.ai.button:hover {
    color: #c2c2c2 !important;
}

#footer {
    width: 100vw;
    min-height: 30vh !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
}

#footer .button {
    background-color: transparent;
    color: #40444d !important;
    font-size: 1.3em;
}

.blog_post {
    width: 100% !important;
}

#comments-container {
    padding-top: 30px;
    width: 100% !important;
    max-width: none !important;
    margin: 0 !important;
}

#comment-form-title {
    width: 50% !important;
}

#post-a-comment-form {
    width: 50% !important;
    min-width: 300px !important;
}

#main .ui.container {
    padding-top: 15px;
    padding-bottom: 30px;
}

#main #fluid-container {
    margin-top: -55px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ui.form p label {
    padding: 5px !important;
}

#panel-button {
    height: 30px;
    line-height:30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-color #panel-button {
    background-color: #d8d5d5;
}

.reverse-navbar-color #panel-button {
    background-color: #518799;
    color: white;
}
  
#navbar .large-icon {
    font-size: 1.5em;
}


.vertical.menu {
    font-size: medium;
}

.ui.modal {
    top: 35%;
}