{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Cart</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_styles.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>

<div class="super_container">
	
	<!-- Header -->
    <header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_content ">
							<div class="top_bar_user">
								<div><a href={% url 'dashboard_buyer' %}>بازگشت به داشبورد</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    </header>



	<!-- Cart -->

	<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">محصول</div>
						<div class="cart_items">
							<ul class="cart_list">
								<li class="cart_item clearfix">
									<div class="cart_item_image"><img src='/media/{{ advertisement.profile_image }}' alt=""></div>
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">نام محصول</div>
											<div class="cart_item_text">{{ advertisement.title }}</div>
										</div>
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">تعداد</div>
											<div class="cart_item_text">۱</div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">قیمت</div>
											<div class="cart_item_text">{{ new_price }} تومان</div>
										</div>

									</div>
								</li>
							</ul>
						</div>
						
						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">مجموع:</div>
								<div class="order_total_amount">{{ new_price }} تومان</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">انتخاب زمان</div>
						<div class="cart_items">
							<ul class="cart_list">

								<li class="cart_item clearfix">
									<div class="cart_item_info_time d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_text">شنبه</div>
										</div>
                                        <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="شنبه ۹ تا ۱۲" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۹ تا ۱۲</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="شنبه ۱۲ تا ۱۵" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۲ تا ۱۵</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="شنبه ۱۵ تا ۱۸" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۵ تا ۱۸</div>
										</div>


									</div>
								</li>
                                <li class="cart_item clearfix">
									<div class="cart_item_info_time d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_text">یکشنبه</div>
										</div>
                                        <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="یکشنبه ۹ تا ۱۲" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۹ تا ۱۲</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="یکشنبه ۱۲ تا ۱۵" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۲ تا ۱۵</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="یکشنبه ۱۵ تا ۱۸" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۵ تا ۱۸</div>
										</div>


									</div>
								</li>
                                <li class="cart_item clearfix">
									<div class="cart_item_info_time d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_text">دوشنبه</div>
										</div>
                                        <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="دوشنبه ۹ تا ۱۲" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۹ تا ۱۲</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="دوشنبه ۱۲ تا ۱۵" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۲ تا ۱۵</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="دوشنبه ۱۵ تا ۱۸" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۵ تا ۱۸</div>
										</div>
									</div>
								</li>
                                <li class="cart_item clearfix">
									<div class="cart_item_info_time d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_text">سه‌شنبه</div>
										</div>
                                        <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="سه‌شنبه ۹ تا ۱۲" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۹ تا ۱۲</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="سه‌شنبه ۱۲ تا ۱۵" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۲ تا ۱۵</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="سه‌شنبه ۱۵ تا ۱۸" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۵ تا ۱۸</div>
										</div>
									</div>
								</li>
                                <li class="cart_item clearfix">
									<div class="cart_item_info_time d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_text">چهارشنبه</div>
										</div>
                                        <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="چهارشنبه ۹ تا ۱۲" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۹ تا ۱۲</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="چهارشنبه ۱۲ تا ۱۵" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۲ تا ۱۵</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="چهارشنبه ۱۵ تا ۱۸" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۵ تا ۱۸</div>
										</div>
									</div>
								</li>
                                <li class="cart_item clearfix">
									<div class="cart_item_info_time d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_text">پنج‌شنبه</div>
										</div>
                                        <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="پنج‌شنبه ۹ تا ۱۲" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۹ تا ۱۲</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="پنج‌شنبه ۱۲ تا ۱۵" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۲ تا ۱۵</div>
										</div>
                                         <div class="hours">
                                            <div class="checkbox_time">
                                                <label><input type="checkbox" value="پنج‌شنبه ۱۵ تا ۱۸" class = "chk"></label>
                                            </div>
											<div class="cart_item_text">۱۵ تا ۱۸</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
                        <div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">انتخاب آدرس</div>
                        {% for address in addresses %}
                        <div class="cart_items">
							<ul class="cart_list">
								<li class="cart_item clearfix">
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="checkbox_address">
                                            <label><input type="checkbox" value="{{ address.id }}" class="addr"></label>
                                        </div>
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">آدرس</div>
											<div class="address_text">{{ address }}</div>
										</div>


									</div>
								</li>
							</ul>
						</div>
                        {% endfor %}
						<div class="cart_buttons">
							<button type="button" class="button cart_button_clear" onclick="
							    function sendRequest(){
							            var time = $('input.chk:checked').val();
							            var address_id = $('input.addr:checked').val();
                                        var url = '{% url 'purchase_done' advertisement.id %}';
                                        url = url + '?time=';
                                        url = url + time;
                                        url = url + '&address_id=';
                                        url = url + address_id;
                                        window.location.href = url;
							      } sendRequest(); return false;
                                ">خرید</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">جی‌جی کالا</a></div>
						</div>
						<div class="footer_title">پشتیبانی ۲۴ ساعته</div>
						<div class="footer_phone">۰۲۱ ۶۶۶ ۶۶ ۶۶</div>
						<div class="footer_contact_text">
							<p>تهران خیابان آزادی</p>
							<p>دانشگاه شریف، دانشکده‌ی کامپیوتر</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
						<div class="copyright_content"> کلیه‌ی حقوق این اثر به گروه ۶ اجایل متعلق است و هرگونه کپی پیگیرد قانونی دارد.
</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

</script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'js/cart_custom.js' %}"></script>

</body>

</html>