{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Single Product</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_styles.css' %}">

</head>

<body>

<div class="super_container">
	
	<!-- Header -->
	
		<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_content ">
							<div class="top_bar_user">
								<div><a href={% url 'dashboard_buyer' %}>بازگشت به داشبورد</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        </header>

    <div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="#">جی‌جی کالا</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form method="POST" action="#" class="header_search_form clearfix">
                                        {% csrf_token %}
                                        {{ form }}
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static 'images/search_.png' %}" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

	<!-- Single Product -->

	<div class="single_product">
		<div class="container">
			<div class="row">

				<!-- Images -->

				<!-- Selected Image -->




				<!-- Description -->
				<div class="col-lg-5 order-1">
					<div class="product_description">
						<div class="product_category">دسته بندی: {{ advertisement.category.title }}</div>
						<div class="product_name">{{ advertisement.title }}</div>

						<div class="order_info d-flex flex-row">
							<form action="#">

								<div class="product_price">قیمت: {{ new_price }} تومان</div>
                                {% if new_price %}
                                    <div>قیمت قبل از تخفیف: {{ advertisement.persian_price }} تومان</div>
                                {% endif %}

                                <div class="product_seller"><p>فروشنده: فروشگاه {{ advertisement.seller }}</p></div>
								<div class="button_container">
									<button type="button" class="button cart_button" onclick="location.href='{% url 'purchase' advertisement.id %}'">خرید این محصول</button>
								</div>
								
							</form>
						</div>

					</div>
				</div>

                <div class="col-lg-6 order-lg-2 order-6 image_container">
					<div class="image_selected"><img src="/media/{{ advertisement.profile_image }}" alt=""></div>
				</div>

			</div>
            <div class="row description">
                <div class="">
                    <div class="des_prod">توضیحات محصول</div>
                    <div class="product_text"><p>{{ advertisement.description |slice:":300" }}<span id="dots">...</span><span id="more">{{ advertisement.description|slice:"300:" }}</span></p>

<button onclick="myFunction()" id="myBtn" class="button description_button">توضیحات بیشتر</button></div>
                </div>
            </div>
		</div>
	</div>




	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">جی‌جی کالا</a></div>
						</div>
						<div class="footer_title">پشتیبانی ۲۴ ساعته</div>
						<div class="footer_phone">۰۲۱ ۶۶۶ ۶۶ ۶۶</div>
						<div class="footer_contact_text">
							<p>تهران خیابان آزادی</p>
							<p>دانشگاه شریف، دانشکده‌ی کامپیوتر</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
						<div class="copyright_content"> کلیه‌ی حقوق این اثر به گروه ۶ اجایل متعلق است و هرگونه کپی پیگیرد قانونی دارد.
</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/productLoader.js' %}"></script>
</body>

</html>