{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Search</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_responsive.css' %}">
</head>

<body>
<div class="super_container">

	<!-- Header -->


	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_content ">
							<div class="top_bar_user">
								<div><a href={% url 'dashboard_buyer' %}>بازگشت به داشبورد</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="#">جی‌جی کالا</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form method="POST" action="#" class="header_search_form clearfix">
                                        {% csrf_token %}
                                        {{ form }}
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static 'images/search_.png' %}" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>


		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">دسته‌بندی</div>
								</div>
								<ul class="cat_menu">
                                    {% for category1 in categories %}
                                        <li class="{% if category1.1 %}hassubs{% endif %}"><a href="{% url 'search' category1.0.id %}">{{ category1.0.title }}<i class="fas fa-chevron-right ml-auto"></i></a>
                                        {% if category1.1 %}
                                            <ul>
                                            {% for category2 in category1.1 %}
                                                <li class="{% if category2.1 %}hassubs{% endif %}"><a href="{% url 'search' category2.0.id %}">{{ category2.0.title }}<i class="fas fa-chevron-right ml-auto"></i></a>
                                                {% if category2.1 %}
                                                    <ul>
                                                    {% for category3 in category2.1 %}
                                                       <li class="{% if category3.1 %}hassubs{% endif %}"><a href="{% url 'search' category3.0.id %}">{{ category3.0.title }}<i class="fas fa-chevron-right ml-auto"></i></a></li>
                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                        </li>
                                    {% endfor %}
								</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>

	</header>

    <div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

					<!-- Shop Sidebar -->
					<div class="shop_sidebar">

						<div class="sidebar_section filter_by_section">
							<div class="sidebar_title">فیلتر بر اساس:</div>
                            <form method="POST" action="{% url 'advance_search' %}" class="header_search_form clearfix">
                            {% csrf_token %}
                            {{ adv_form }}
                            <input type="submit" name="submit" id="submit" class="ui submit button"
                                       value="جست و جو"/>
                                </form>
						</div>
					</div>

				</div>

				<div class="col-lg-9">

					<!-- Shop Content -->

					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count"><span>کالاهای یافت شده:</span>{{ len_advertisements }}</div>
						</div>

						<div class="product_grid">
							<div class="product_grid_border"></div>

							{% for advertisement, discount, days, new_price in advertisements %}
                            <div class="product_item" onclick="location.href='{% url 'advertisement_detail' advertisement.id %}'">
                                <div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="/media/{{ advertisement.profile_image }}" alt=""></div>
								<div class="product_content">
                                    {% if discount %}
									<div class="viewed_price">{{ new_price }}<span>{{ advertisement.persian_price }}</span></div>
                                    {% else %}
                                    <div class="viewed_price">{{ advertisement.persian_price }}</div>
                                    {% endif %}
									<div class="product_name"><div><a href="#" tabindex="0">{{ advertisement.title }}</a></div></div>
								</div>
								<ul class="product_marks">
                                    {% if discount %}
									<li class="product_mark product_discount">-{{ discount }}%</li>
									<li class="product_mark product_new">{{ days }} روز</li>
                                    {% endif %}
								</ul>
							</div>
                            {% endfor %}

						</div

						<!-- Shop Page Navigation -->



					</div>

				</div>
			</div>
		</div>
	</div>
    <div class="viewed">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="viewed_title_container" dir = "rtl" lang="ar">
						<h3 class="viewed_title">کالاهای منتخب</h3>
					</div>

					<div class="viewed_slider_container">

						<!-- Recently Viewed Slider -->

						<div class="row">

							<!-- Recently Viewed Item -->
                            {%  for advertisement in similar_ads %}
							<div class="owl-item" onclick="location.href='{% url 'advertisement_detail' advertisement.id %}'">
								<div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
									<div class="viewed_image"><img src='/media/{{ advertisement.profile_image }}' alt=""></div>
									<div class="viewed_content text-center">
										<div class="viewed_price">{{ advertisement.persian_price }}</div>
										<div class="viewed_name"><a href="#">{{ advertisement.title }}</a></div>
									</div>
								</div>
							</div>
                            {%  endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="brands">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="brands_slider_container">

						<!-- Brands Slider -->

						<div class="row">

							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_1.jpg' %}" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_2.jpg' %}" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_3.jpg' %}" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_4.jpg' %}" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_5.jpg' %}" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_6.jpg' %}" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_7.jpg' %}" alt=""></div></div>
							<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="{% static 'images/brands_8.jpg' %}" alt=""></div></div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">جی‌جی کالا</a></div>
						</div>
						<div class="footer_title">پشتیبانی ۲۴ ساعته</div>
						<div class="footer_phone">۰۲۱ ۶۶۶ ۶۶ ۶۶</div>
						<div class="footer_contact_text">
							<p>تهران خیابان آزادی</p>
							<p>دانشگاه شریف، دانشکده‌ی کامپیوتر</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
						<div class="copyright_content"> کلیه‌ی حقوق این اثر به گروه ۶ اجایل متعلق است و هرگونه کپی پیگیرد قانونی دارد.
</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/shop_custom.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>

</body>
</html>