{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود</title>
    <link rel="stylesheet" href="{% static 'styles/signup_signin.css' %}">

</head>
<body>
<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="POST" action id="signup-form" class="signup-form">
                    <h2 class="form-title">ورود</h2>
                    {% csrf_token %}
                    <fieldset class="without-border">

                    {% for field in form %}
                        <div class="form-group" style="color: #ff0026; display: flex; align-items: center;">
                            {{ field.errors }}
                        </div>
                        <div class="form-group bcw">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="ورود"/>
                    </div>
                    </fieldset>
                </form>
                <p class="loginhere">
                    ثبت نام نکرده‌اید؟ <a href="{% url 'register_seller' %}" class="loginhere-link">ثبت‌نام فروشگاه/</a> <a href="{% url 'register_buyer' %}" class="loginhere-link">ثبت‌نام کاربر</a>
                </p>
                <p class="loginhere" id="forgot"><a href="{% url 'reset_password' %}" class="loginhere-link">فراموشی رمز عبور</a>
                </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
