{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ثبت نام</title>
    <link rel="stylesheet" href={% static 'styles/signup_signin.css' %}>
</head>
<body>
<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="POST" action id="signup-form" class="signup-form">
                    <h2 class="form-title">ثبت‌نام فروشگاه</h2>
                    {% csrf_token %}
                    <fieldset class="without-border">

                    {% for field in form %}
                        <div class="form-group" style="color: #ff0026; display: flex; align-items: center;">
                            {{ field.errors }}
                        </div>
                        <div class="form-group bcw">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="ثبت نام"/>
                    </div>
                    </fieldset>


                </form>
                <p class="loginhere">
                    حساب کاربری دارید؟ <a href="{% url 'signin' %}" class="loginhere-link">ورود</a>
                </p>
            </div>
        </div>
    </section>
</div>

</body>
</html>
