{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link href="{% static 'styles/success.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
	<header class="site-header" id="header">
		<h1 class="site-header__title" data-lead-id="site-header-title">به درگاه بانک اعتماد شریف خوش آمدید</h1>
	</header>

	<div class="main-content">
		<button type="button" class="button success" onclick="location.href='{% url 'payement' transaction_id 1 %}'">خرید موفق</button>
        <button type="button" class="button enough" onclick="location.href='{% url 'payement' transaction_id 0 %}'">موجودی ناکافی</button>
        <button type="button" class="button ret" onclick="location.href='{% url 'payement' transaction_id 0 %}'">بازگشت</button>
	</div>


</body>
</html>