a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}


input, select, textarea {
    outline: none;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    margin: 0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
}

input[type=checkbox] {
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
}

input[type=radio] {
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;

}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777;
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.88);
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.clear {
    clear: both;
}

body {
    font-size: 14px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
    font-family: IRANSans, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    padding: 115px 0;
}

.container {
    width: 660px;
    position: relative;
    margin: 0 auto;
}

.display-flex {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

.display-flex-center {
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.without-border{
    border: none
}

.signup-content {
    background: #313131;
    opacity: 0.96;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px;
}

.form-group {
    direction: rtl;
    overflow: hidden;
    margin-bottom: 20px;
}

.bcw {
    background-color: white;
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: IRANSans, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

.form-control {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: IRANSans, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    color: #999;
}

.form-input::-webkit-input-placeholder {
    color: #999;
    font-weight: 500;
}

.form-input::-moz-placeholder {
    color: #999;
    font-weight: 500;
}

.form-input:-ms-input-placeholder {
    color: #999;
    font-weight: 500;
}

.form-input:-moz-placeholder {
    color: #999;
    font-weight: 500;
}


.form-input:focus {
    border: 1px solid transparent;
    border-image-slice: 1;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.form-input:focus::-webkit-input-placeholder {
    color: #222;
}

.form-input:focus::-moz-placeholder {
    color: #222;
}

.form-input:focus:-ms-input-placeholder {
    color: #222;
}

.form-input:focus:-moz-placeholder {
    color: #222;
}

.form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    background: #0e8ce4;
}

.form-submit:hover {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    background-color: #0e8ce4;
}


.label-agree-term {
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

.term-service {
    color: #0e8ce4;
    text-decoration: none;
}

.loginhere {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 91px;
    margin-bottom: 5px;

}

.loginhere-link {
    font-weight: 700;
    color: #0e8ce4;
    text-decoration: none;

}

.field-icon {
    float: left;
    margin-left: 17px;
    margin-top: -32px;
    position: relative;
    z-index: 2;
    color: #555;
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .signup-content {
        padding: 50px 25px;
    }
}

#forgot{
    margin-top: 6px;
}
