@font-face {
    font-family: IRANSans,sans-serif;
    font-weight: normal;
    font-style: normal;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	background-color: #fffffe;
}
body {
	padding: 0 20px;
	min-width: 300px;
	font-family: IRANSans, sans-serif;
	background-color: #fffffe;
	color: #1a1a1a;
	text-align: center;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased
}
a:link,
a:visited {
	color: #00c2a8;
}
a:hover,
a:active {
	color: #03a994;
}

.site-header {
	margin: 0 auto;
	padding: 80px 0 0;
	max-width: 820px;
}
.site-header__title {
	margin: 0;
	font-family: IRANSans, sans-serif; !important;
	font-size: 2rem;
	font-weight: 600; !important;
	line-height: 1.1;
	text-transform: uppercase;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
    color:  #0e8ce4;
}
.main-content {
	margin: 0 auto;
	max-width: 820px;
}
.main-content__checkmark {
	font-size: 4.0625rem;
	line-height: 1;
	color: #24b663;
}
.main-content__body {
	margin: 20px 0 0;
	font-size: 1rem;
	line-height: 1.4;
}


.site-footer {
	margin: 0 auto;
	padding: 80px 0 25px;
	padding: 0;
	max-width: 820px;
}
.site-footer__fineprint {
	font-size: 0.9375rem;
	line-height: 1.3;
	font-weight: 300;
}


@media only screen and (min-width: 40em) {
	.site-header {
		padding-top: 150px;
	}
	.site-header__title {
		font-size: 6.25rem;
	}
	.main-content__checkmark {
		font-size: 9.75rem;
	}
	.main-content__body {
		font-size: 1.25rem;
	}
	.site-footer {
		padding: 145px 0 25px;
	}
	.site-footer__fineprint {
		font-size: 1.125rem;
	}
}

.button
{
    margin-top: 100px; !important;
    display: inline-block;
	background: white;
	border-radius: 5px;
	height: 48px;
    width: 200px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    font-family: IRANSans,sans-serif;
	font-size:25px;
	margin-left: 20px;
}

.enough
{
	border-color: #e4860c;
	color: #e4860c;
}
.ret
{
	border-color:  #0e8ce4;
	color:  #0e8ce4;
}
.success
{
	border-color: #2ee41b;
	color: #2ee41b;
}

.button a
{
	display: block;
	font-size: 25px;
	font-weight: 500;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
    font-family: IRANSans,sans-serif;
}
.button:hover
{
	opacity: 0.8;
}